# Ignore all hidden files and directories
.*
!.gitignore

# Ignore specific directories
chat/
chats/
code/
code_rag_storage/
gpt_code/
images/
knowledgebase/
nltk_data/
old/
rag_storage/
__pycache__/

# Ignore file extensions
*.pem 