fastapi
uvicorn[standard]
gunicorn
langchain
langchain_openai
openai
sqlalchemy[asyncio]>=2.0.0
asyncpg
psycopg2-binary
bcrypt
python-dotenv
faiss-cpu
numpy
pypdf
aiofiles
pandas
unstructured
python-docx
tiktoken
langchain_community
python-jose[cryptography]
httpx